<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="role">
	<select id="selectPageList" parameterType="hashmap" resultType="role" >
		SELECT * FROM role 
		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="ids!=null">
				id IN
				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
				 #{item}  
				</foreach> 
				 AND
			 </if>
			 <if test="userId!=null">
			 	id IN(SELECT roleid FROM user_role_rel WHERE userid=#{userId}) AND
			 </if>
			 <if test="available!=null">available=#{available} AND </if>
			 <if test="role!=null">role=#{role} AND </if>
			 <if test="name!=null">name=#{name} AND </if>
		</trim>
	</select>
	<select id="selectone" parameterType="int" resultType="role">
		SELECT * FROM role WHERE id=#{id}
	</select>
	<insert id="add" parameterType="role" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO role (
	<trim suffixOverrides=",">
		<if test="role!=null">role,</if>
		<if test="available!=null"> available,</if>
		<if test="name!=null"> name,</if>
	</trim>) VALUES (
	<trim suffixOverrides=",">
		<if test="role!=null">#{role},</if>
		<if test="available!=null"> #{available},</if>
		<if test="name!=null"> #{name},</if>
	</trim>
	)
	</insert>
	<update id="update" parameterType="role">
		UPDATE role SET 
		<trim suffixOverrides=",">
			<if test="role!=null">role=#{role},</if>
			<if test="available!=null"> available=#{available},</if>
			<if test="name!=null"> name=#{name},</if>
		</trim>
		 WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM role WHERE id=#{id}
	</delete>
</mapper>