<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="user">
	<select id="selectlist" parameterType="hashmap" resultType="user" >
		SELECT * FROM user
		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="name!=null">name LIKE "%"#{name}"%" AND</if>
		</trim>
		ORDER BY createTime DESC
	</select>
	<select id="selectone" parameterType="string" resultType="user">
		SELECT * FROM user WHERE name=#{name}
	</select>
	<select id="selectpassword" parameterType="String" resultType="String">
		SELECT password(#{password})
	</select>
	<insert id="add" parameterType="user" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user (
		<trim suffixOverrides=",">
			<if test="name!=null">name,</if>
			<if test="createTime!=null">createtime,</if>
			<if test="pwd!=null">pwd,</if>
			<if test="salt!=null">salt,</if>
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			<if test="name!=null">#{name},</if>
			<if test="createTime!=null">#{createTime},</if>
			<if test="pwd!=null">#{pwd},</if>
			<if test="salt!=null">#{salt},</if>
		</trim>
		)
	</insert>
	<update id="update" parameterType="user">
		UPDATE user SET
		<trim suffixOverrides=",">
			<if test="name!=null">name=#{name},</if>
			<if test="createTime!=null">createTime=#{createTime},</if>
			<if test="lock!=null">lock=#{lock}</if>
		</trim>
		WHERE id=#{id} AND pwd=#{pwd}
	</update>
	<delete id="delete" parameterType="hashmap">
		DELETE FROM user WHERE id=#{id} AND pwd=#{pwd}
	</delete>
</mapper>