<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="incomeandcost">
	<select id="selectPageList" parameterType="hashmap" resultType="incomecost">
		SELECT * FROM income_cost
		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="startDate != null">
				date &gt;= #{startDate} AND
			</if>
			<if test="endDate != null">
				date  &lt;= #{endDate} AND
			</if>
		</trim>
		ORDER BY date DESC
	</select>
	<insert id="add" parameterType="incomecost">
		INSERT INTO income_cost 
		<trim prefix="(" suffixOverrides="," suffix=")">
			<if test="income != null">
			income,
			</if>
			<if test="cost != null">
			cost,
			</if>
			<if test="usages !=null">
			usages,
			</if>
			<if test="memo !=null">
			memo,
			</if>
			<if test="date !=null">
			date,
			</if>
		</trim>
		 VALUES 
		 <trim prefix="(" suffixOverrides="," suffix=")">
			<if test="income != null">
			#{income},
			</if>
			<if test="cost != null">
			#{cost},
			</if>
			<if test="usages !=null">
			#{usages},
			</if>
			<if test="memo !=null">
			#{memo},
			</if>
			<if test="date !=null">
			#{date},
			</if>
		</trim>
	</insert>
	<delete id="delete" parameterType="int">
	DELETE FROM income_cost WHERE id=#{id}
	</delete>
	<update id="update" parameterType="incomecost">
	UPDATE income_cost SET 
	<trim suffixOverrides=",">
		<if test=" income!= null">
			income = #{income},
		</if>
		<if test="cost != null">
			cost = #{cost},
		</if>
		<if test="usages != null">
		usages=#{usages},
		</if>
		<if test="memo != null">
			memo=#{memo},
		</if>
		<if test=" date!= null">
		date=#{date},
		</if>
		WHERE id=#{id}
	</trim>
	</update>
</mapper>