<?xml version="1.0" encoding="UTF-8"?>
<!-- 引入jdbc配置文件 -->
<context:property-placeholder location="jdbc.properties" />

<!--创建jdbc数据源 -->
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
	destroy-method="close">
	<property name="driverClassName" value="${jdbc.driver}" />
	<property name="url" value="${jdbc.url}" />
	<property name="username" value="${jdbc.username}" />
	<property name="password" value="${jdbc.password}" />
</bean>

<!-- 创建SqlSessionFactory，同时指定数据源 -->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource" />
</bean>

<!--创建数据映射器，数据映射器必须为接口 -->
<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.xxt.ibatis.dbcp.dao.UserMapper" />
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>

<bean id="userDaoImpl2" class="com.xxt.ibatis.dbcp.dao.impl.UserDaoImpl2">
	<property name="userMapper" ref="userMapper" />
</bean>