<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="beitougame">
	<select id="selectPageList" parameterType="hashmap" resultType="beitougame" >
		SELECT * FROM beitou_game
		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="beitouId!=null">beitouId=#{beitouId} AND</if>
		</trim>
		ORDER BY createTime DESC
	</select>
	<select id="selectone" parameterType="int" resultType="beitougame">
		SELECT * FROM beitou_game WHERE id=#{id}
	</select>
	<insert id="add" parameterType="beitougame" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO beitou_game 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="belong!=null">belong,</if>
			<if test="homeTeam!=null">homeTeam,</if>
			<if test="guestTeam!=null">guestTeam,</if>
			<if test="type!=null">type,</if>
			<if test="win!=null">win,</if>
			<if test="draw!=null">draw,</if>
			<if test="lose!=null">lose,</if>
			<if test="amount!=null">amount,</if>
			<if test="bet!=null">bet,</if>
			<if test="level!=null">level,</if>
			<if test="bottom!=null">bottom,</if>
			<if test="profit!=null">profit,</if>
			<if test="createTime!=null">createTime,</if>
			<if test="beitouId!=null">beitouId,</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="belong!=null">#{belong},</if>
			<if test="homeTeam!=null">#{homeTeam},</if>
			<if test="guestTeam!=null">#{guestTeam},</if>
			<if test="type!=null">#{type},</if>
			<if test="win!=null">#{win},</if>
			<if test="draw!=null">#{draw},</if>
			<if test="lose!=null">#{lose},</if>
			<if test="amount!=null">#{amount},</if>
			<if test="bet!=null">#{bet},</if>
			<if test="level!=null">#{level},</if>
			<if test="bottom!=null">#{bottom},</if>
			<if test="profit!=null">#{profit},</if>
			<if test="createTime!=null">#{createTime},</if>
			<if test="beitouId!=null">#{beitouId},</if>
		</trim>
	</insert>
	<update id="update" parameterType="beitougame">
		UPDATE beitou_game SET
		<trim suffixOverrides=",">
			<if test="belong!=null">belong=#{belong},</if>
			<if test="homeTeam!=null">homeTeam=#{homeTeam},</if>
			<if test="guestTeam!=null">guestTeam=#{guestTeam},</if>
			<if test="type!=null">type=#{type},</if>
			<if test="win!=null">win=#{win},</if>
			<if test="draw!=null">draw=#{draw},</if>
			<if test="lose!=null">lose=#{lose},</if>
			<if test="amount!=null">amount=#{amount},</if>
			<if test="bet!=null">bet=#{bet},</if>
			<if test="level!=null">level=#{level},</if>
			<if test="bottom!=null">bottom=#{bottom},</if>
			<if test="profit!=null">profit=#{profit},</if>
			<if test="createTime!=null">createTime=#{createTime},</if>
			<if test="beitouId!=null">beitouId=#{beitouId},</if>
		</trim>
		WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM beitou_game WHERE id=#{id}
	</delete>
</mapper>