<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="gameAndBill">
	<insert id="add" parameterType="gamebill" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO game_bill(
		<trim suffixOverrides=",">
			<if test="gameId!=null">gameId,</if>
			<if test="billId!=null">billId,</if>
			<if test="bet!=null">bet,</if>
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			<if test="gameId!=null">#{gameId},</if>
			<if test="billId!=null">#{billId},</if>
			<if test="bet!=null">#{bet},</if>
		</trim>
		)
	</insert>
</mapper>